@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: grid;
  width: 100%;
  grid-template-columns: auto 30% 20%;
  grid-template-rows: auto;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0;
  left: 0;
}
.header .header__logo {
  display: grid;
  height: 50px;
  width: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 0;
  transition: all 1.2s ease-in-out;
}
.header .header__logo:hover {
  transition: all 0.7s ease-in-out;
  transform: rotateY(360deg) scale(1.5);
}
.header .header__menu, .header .header__themes {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}
.header .header__menu .header__themes_btn, .header .header__themes .header__themes_btn {
  display: grid;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #ff9800;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  transition: all 0.3s;
}
.header .header__menu .header__themes_btn:focus, .header .header__themes .header__themes_btn:focus {
  outline: none;
}
.header .header__menu .header__themes_btn:hover, .header .header__themes .header__themes_btn:hover {
  background-color: #ff9800;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.header .header__menu .header__menu_item, .header .header__themes .header__menu_item {
  text-decoration: none;
  color: #333333;
  transition: all 0.3s;
}
.header .header__menu .header__menu_item:hover, .header .header__themes .header__menu_item:hover {
  color: #ff9800;
  transition: all 0.3s;
}

.main {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  justify-content: center;
}
.main .main__characters-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
.main .main__characters-container .main__filters-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  margin-top: 50px;
  justify-content: start;
  color: #333333;
}
.main .main__characters-container .main__filters-container .main__filters-container__filter {
  display: grid;
  margin: 15px;
}
.main .main__characters-container .main__filters-container .main__filters-container__filter .main__filters-container__filter_title {
  margin-bottom: 10px;
}
.main .main__characters-container .main__filters-container .main__filters-container__filter .main__filters-container__filter_input {
  color: #333333;
  background-color: transparent;
  border: 1px solid #333333;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}
.main .main__characters-container .main__filters-container .main__filters-container__filter .main__filters-container__filter_input:hover {
  border-color: #ff9800;
  cursor: pointer;
  transition: all 0.3s;
}
.main .main__characters-container .main__filters-container .main__filters-container__filter .main__filters-container__filter_input:focus {
  background-color: rgba(152, 255, 0, 0.2);
  outline: none;
  transition: all 0.3s;
  border-color: #ff9800;
}
.main .main__characters-container .main__characters-container__page-number {
  display: grid;
  color: #333333;
  margin: 25px 0;
}
.main .main__characters-container .main__characters-container__list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin-bottom: 50px;
}
.main .main__characters-container .main__characters-container__list .main__characters-container__list_item {
  display: grid;
  grid-template-rows: auto;
}
.main .main__characters-container .main__characters-container__list .main__characters-container__list_item .m-c-l_item-name {
  display: grid;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 1px solid #ff9800;
  border-radius: 0.5rem;
  color: #333333;
  text-decoration: none;
  margin: 10px 0;
  transition: all 0.3s;
}
.main .main__characters-container .main__characters-container__list .main__characters-container__list_item .m-c-l_item-name:hover {
  background-color: #ff9800;
  color: white;
  transition: all 0.3s;
}
.main .main__characters-container .main__characters-container__pagination {
  display: grid;
  grid-template-rows: 25px;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .main .main__characters-container .main__characters-container__pagination {
    grid-template-columns: auto auto auto auto auto auto auto;
    overflow-x: scroll;
  }
}
.main .main__characters-container .main__characters-container__pagination .m-c-p_item {
  display: flex;
  grid-row: 1;
  width: 22px;
  justify-content: center;
  margin: 0 5px;
  padding: 0.1rem;
  transition: all 0.3s;
}
@media (max-width: 1023px) {
  .main .main__characters-container .main__characters-container__pagination .m-c-p_item {
    grid-row: auto;
  }
}
.main .main__characters-container .main__characters-container__pagination .m-c-p_item:hover {
  transition: all 0.2s;
  background-color: #ff9800;
  border-radius: 0.3rem;
  color: white;
}
.main .main__characters-container .main__characters-container__pagination .m-c-p_item-active {
  border: 1px solid #ff9800;
  border-radius: 0.3rem;
}
.main .main__characters-container .main__characters-container__list_character {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: start;
  align-items: flex-start;
  background-color: #3c3e44;
  margin: 25px 0;
  border-radius: 1rem;
  color: #f5f5f5;
}
.main .main__characters-container .main__characters-container__list_character .m-c-l_character_image {
  display: grid;
  max-width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.main .main__characters-container .main__characters-container__list_character .m-c-l_character_description {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  padding: 15px;
}
.main .main__characters-container .main__characters-container__list_character .m-c-l_character_description .m-c-l_character_description_item {
  margin: 5px 0;
}
.main .main__characters-container .main__characters-container__list_character .m-c-l_character_description .status-and-species {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}
.main .main__characters-container .main__characters-container__list_character .m-c-l_character_description .status-and-species :last-child {
  margin-left: 10px;
}
.main .main__characters-container .main__characters-container__list_character .m-c-l_character_description .description_name {
  font-size: 27px;
}
.main .main__characters-container .main__characters-container__list_character .m-c-l_character_description .description_episodes {
  display: grid;
}
.main .main__characters-container .main__characters-container__list_character .m-c-l_character_description .description_episodes div {
  display: grid;
  grid-template-columns: 50% 50%;
}
.main .main__characters-container .main__characters-container__list_character .m-c-l_character_description .description_episodes li {
  margin-left: 20px;
}

/*# sourceMappingURL=style.css.map */
